<footer class="footer">
    <div class="container">
        <div class="footer-content mb-0">
            <h3 class="footer-title" style="color:#702d09"><strong>Зв'язок з нами</strong></h3>
            <div class="row justify-content-center text-start">
                <!-- Контактна інформація -->
                <div class="col-md-4 mb-3">
                    <div class="contact-info ">
                        <p class="text-uppercase" style="color:#702d09">Телефон</p>
                        <p class="text-dark">
                            <i class="bi bi-telephone-fill text-dark"></i>
                            <a href="tel:+48517922424" class="text-dark text-decoration-none">+48 517 922 424</a>
                        </p>
                        <p class="text-uppercase" style="color:#702d09">Електронна пошта</p>
                        <p class="text-dark">
                            <i class="bi bi-envelope-fill text-dark fs-5"></i>
                            <a href="mailto:svitlanabon95@gmail.com" class="text-dark text-decoration-none">svitlanabon95@gmail.com</a>
                        </p>
                    </div>
                </div>

                <!-- Іконка по центру -->
                <div class="col-md-4 d-flex align-items-center justify-content-center mb-3">
                    <img src="~/favicon.png" asp-append-version="true" alt="Logo" width="150" height="150" class="img-fluid" />
                </div>
                <div class="col-md-1"></div>
                <!-- Соціальні мережі -->
                <div class="col-md-3 mb-3">
                    <div class="social-links ps-md-5">
                        
                        <p class="text-uppercase mt-3 mb-2" style="color:#702d09">Для дітей</p>
                        <p>
                            <i class="bi bi-instagram text-dark fs-5"></i>
                            <a href="https://www.instagram.com/happy.kids.pl" target="_blank" class="text-dark text-decoration-none">HappyKids.pl</a>
                        </p>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</footer>

<style>
    .footer {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        background-image: url('/images/backgrounds/footer.jpg'); /* Замініть на шлях до вашого зображення */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 30px 0;
        text-align: center;
        color: white; /* Колір тексту (можна змінити залежно від фону) */
        position: relative;
    }



    .footer-content {
        position: relative;
        z-index: 1;
        max-width: 1200px;
        margin: 0 auto;
    }


</style>